/* CSS */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

/*CSS Custom properties*/

:root {
  --section-width: 70%;
}

/* (*) Aplica a todo el contenido, CUIDADO, afecta al rendimiento.
 Caracteristicas genéricas del proyecto en general*/

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  font-family: "Open Sans","OpenSans",sans-serif;
}

button {
  border: none;
  background: #3a7999;
  color: #f2f2f2;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  }

button:hover {
  background: rgba(0,0,0,0);
  color: #f4f4f4;
  box-shadow: inset 0 0 0 3px #3a7999;
  }

.inline {
  display: inline-block;
}

/*Nav*/

.nav {
  background-color: #C12127;
  font-family: "Source Sans Pro";
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  padding: 5px 0;
}

.nav__iconcontainer {
  vertical-align: middle;
}

.nav__iconcontainer__icon {
  padding: 0 10px;
  text-decoration: none;
  color: white;
}

nav__iconcontainer__icon a {
  text-decoration: none;
}

.nav__slogancontainer {
  vertical-align: middle;
}

.nav__listcontainer {
  float: right;
  vertical-align: middle;
}

.nav__listcontainer__list {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.nav__listcontainer__list li {
  display: inline;
  padding: 0 10px;
  text-decoration: none;
}

.nav__listcontainer__list a {
  text-decoration: none;
  color: white;
  font-family: Source Sans Pro;
  font-size: 14px;
}

/*Header*/

.header {
  max-width: 100%;
  background-image: url(https://static.npmjs.com/images/hero-cityscape.svg);
}

.header__nav {
  padding-top: 10px;
  padding-left: 10px;
}

.header__nav__logocontainer {
  vertical-align: middle;
  padding: 10px;
}

.header__nav__logocontainer__logo {
  width: 100px;
}

.header__nav__searchbarcontainer {
  vertical-align: middle;
  width: 73%;
  padding-right: 0px;
}

.header__nav__searchbarcontainer__input {
  width: 100%;
  font-size: 1em;
  background-color: rgb(31, 82, 111); 
  padding: 15px 10px;
  color: rgba(255,255,255,0.8);
  border: none;
  border-radius: 5px;
  max-width: 1390px;
}

.header__nav__lupacontainer__lupaitem {
  width: 100%;
  font-size: 1em;
  background-color: rgb(31, 82, 111); 
  padding: 15px 10px;
  border-width: 1px;
  color: rgba(255,255,255,0.8);
}

.header__nav__lupacontainer__lupaitem img {
  width: 48%;
}

.header__nav__lupacontainer {
  vertical-align: middle;
  padding-right: 0px;
  max-width: 50px;
}

.header__nav__logincontainer {
  vertical-align: middle;
  font-family: Open Sans;
  color: white;
  font-weight: lighter;
  font-size: 16px;
  padding-left: 40px;
}

.header__nav__logincontainer a {
  font-family: Open Sans;
  color: white;
  font-weight: lighter;
  font-size: 16px;
  text-decoration: none;
}

.header__nav__petcontainer {
  vertical-align: middle;
}

.header__nav__petcontainer__pet {
  width: 45px;
}

.header__content {
  padding-bottom: 80px;
  /*width: var(--section-width);*/
  margin: 0 auto;
  width: 52%;
  padding-left: 215px;
}

.header__content__title h1 {
  font-family: Open Sans;
  color: #f4f4f4;
  font-size: 48px;
  font-style: normal;
}

.header__content__description {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 10px;
  color: #f4f4f4;
  max-width: 540px;
}

.header__content__btncontainer {
  padding-bottom: 15px;
}

.header__content__btncontainer a {
  font-family: Open Sans;
  color: white;
  font-weight: normal;
}

.header__content__btncontainer__btn {
  background-color: #f09233;
  border-radius: 40px;
  border-width: 5px;
  border: none;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  padding: 8px 30px;
}  

/*Section1*/

.section  {
  padding: 80px 0;
}

.section-one {
  background-color: rgb(39, 53, 71);
}

.section-one__left {
  width: 54%;
  padding-left: 260px;
}

.section-one__left__img__container {
  display: unset;
}

.section-one__left__img__container img {
  max-width: 550px;
}

.section-one__right {
  width: 37%;
  max-width: 560px;
}

.section-one__right__titlecontainer__title {
  padding-left: 20px;
  font-family: Open Sans;
  color: white;
  font-size: 35px;
}

.section-one__right__btncontainer {
  padding-left: 30px;
}

.section-one__right__btncontainer__btn a {
  font-family: Open Sans;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.section-one__right__btncontainer__link a {
  font-family: Open Sans;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.section-one__right__btncontainer__btn {
  background-color: #cb3837;
  color: white;
  border-radius: 40px;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  font-family: "Open Sans";
  padding: 8px 35px;
  text-decoration: none;
}

.section-one__right__btncontainer__link {
  padding-top: 5px;
}

.section-one__right__btncontainer__link {
  color: white;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: normal;
}

.section-one__right__listcontainer ul {
  font-family: Open Sans;
  color: white;
  font-weight: normal;
  font-size: 16px;
}

.section-one__right__listcontainer__list {
  padding-bottom: 15px;
}

/*Section2*/

.section-two {
  background-image: url(https://static.npmjs.com/images/npm-is-BOXES.svg);
  padding: 110px 0;
}

.section-two__content {
  width: 39%;
  padding-left: 210px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.section-two__content__title h2{
  font-size: 36px;
  font-weight: 300;
  font-family: Open Sans;
  color: #f4f4f4
}

.section-two__content__btncontainer__btn {
  background-color: rgb(40, 56, 72);
  color: white;
  border-radius: 40px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 30px;
}

.section-two__content__btncontainer a {
  font-family: Open Sans;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.section-two__content__description {
  max-width: 355px;
}

.section-two__content__description__paragraph {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: normal;
  color: white;
}

/*Section3*/

.section-three__titlecontainer {
  text-align: center;
  padding-bottom: 30px;
}

.section-three__titlecontainer__subtitle p{
  color: rgb(109, 121, 134);
  font-size: 16px;
  font-family: Open Sans;
  font-weight: normal;
}

.section-three__titlecontainer__title h2 {
  color: rgb(55, 61, 72);
  font-size: 36px;
  font-weight: 300;
}

.section-three__features {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.section-three__features__item {
  width: 33%;
  vertical-align: top;
  display: inline-block;
}

.section-three__features__item h4 {
  font-family: Open Sans;
  font-weight: bold;
}

.section-three__features__item__description {
  max-width: 240px;
  width: 61%;
  margin: 0 auto;
  color: rgb(109, 121, 134);
  font-family: Open Sans;
  font-size: 16px;
}

.section-three__features__item__description a {
  color: #cb3837;
  text-decoration: none;
}

/*Section4*/

.section-four {
  background-color: rgb(39, 53, 71);
}

.section-four__left {
  width: 43%;
  display: inline-block;
  padding-left: 350px;
}

.section-four__left__img__container {
  display: unset;
}

.section-four__left__img__container img {
  width: 300px;
  padding-left: 20px;
}

.section-four__right {
  width: 40%;
  display: inline-block;
  padding-left: 150px;
}

.section-four__right__titlecontainer__title {
  font-family: Open Sans;
  color: white;
  font-size: 35px;
  max-width: 430px;
}

.section-four__right__btncontainer__btn a {
  font-family: Open Sans;
  font-weight: normal;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.section-four__right__btncontainer__btn {
  background-color: #cb3837;
  color: white;
  border-radius: 40px;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  font-family: Open Sans;
  padding: 8px 20px;
}

.section-four__right__paragraph p {
  font-family: Open Sans;
  color: white;
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 20px;
  max-width: 430px;
}